.header {
  background-color: #242424;

  .container {
    padding: 0;
  }

  &__logo {
    display: block;
    width: 226px;
    min-height: 80px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    background-image: url("../images/header/header-mob.png");
    background-size: 226px 30px;
    background-position: center;
    background-repeat: no-repeat;
  }

}

.nav {
  position: relative;
  text-align: center;
  color: #ffffff;
  background-color: #826550;

  &__title {
    padding: 13px 0;
    font-size: 18px;
    line-height: 24px;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    font-size: 0;
    background-color: #694d38;
    border: none;
    transition: right 0.2s,
    background-color .02s linear;

    &::before {
      position: absolute;
      top: 50%;
      left: calc(50% - 18px);
      width: 36px;
      height: 2px;
      background-color: #ffffff;
      box-shadow: 0 8px 0 0 #ffffff,
      0 -8px 0 0 #ffffff;
      content: "";
      transition: background-color .02s linear,
      box-shadow .02s linear;
    }

    &:hover {
      background-color: #614530;
    }

    &:active::before {
      background-color: rgba(255, 255, 255, .6);
      box-shadow: 0 8px 0 0 rgba(255, 255, 255, .6),
      0 -8px 0 0 rgba(255, 255, 255, .6);
    }

  }

  &__list {
    position: absolute;
    top: 0;
    right: -250px;
    z-index: 5;
    width: 250px;
    background-color: #6a4d38;
    transition: right 0.2s;
  }

}

.site-list {

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background: linear-gradient(to right,rgba(0, 0, 0, .4) 5%,rgba(0,0,0,0) 100%);
    content: "";
  }

  &__link {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #826550;
    border-top: solid 1px #886e5b;
    border-bottom: solid 1px #71543f;
    transition: background-color 0.02s linear,
    color 0.02s linear;

    &:hover {
      background-color: #755a47;
    }

    &:active {
      color: rgba(255, 255, 255, .6);
    }

  }

}

.user-list {

  &__btn {
    width: 100%;
    padding: 15px 20px 15px 50px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
    transition: background-color .02s linear,
    color .02s linear;

    &:hover {
      background-color: #755a47;
    }

    &:active {
      color: rgba(255, 255, 255, .6);
    }

  }

}

.login-icon {
  background-image: url("../images/header/login-icon.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 16px 16px;
}

@media (min-width: 640px) {

  .header {
    position: relative;


    .container {
      width: 670px;
    }

    &__logo {
      display: none;
      position: absolute;
      top: 110px;
      left: calc(50% - 185px);
      width: 370px;
      height: 101px;
      background-image: url("../images/stats/logo.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

  }

  .nav {
    background-color: #000000;

    &__title {
      display: none;
    }

    &__toggle {
      display: none;
    }

    &__list {
      position: static;
      display: flex;
      justify-content: space-between;
      width: auto;
      background-color: #000000;
    }

  }

  .site-list {
    display: flex;
    flex-wrap: wrap;

    &::before {
      display: none;
    }

    &__link {
      padding: 25px 15px;
      background-color: #000000;
      border: none;
    }

  }

  .user-list {
    display: flex;
    flex-wrap: wrap;

    &__btn {
      min-width: 60px;
      height: 100%;
      min-height: 72px;
      font-size: 0;
      background-position: center;
    }

  }

}

@media (min-width: 960px) {

  .header {

    .container {
      width: 960px;
    }

    &__logo {
      top: 125px;
      left: calc(50% - 185px);
      width: 370px;
      height: 153px;
      background-image: url("../images/stats/logo-desk.png");
      background-size: auto 100%;
      background-position: center;
    }

  }

  .site-list {

    &__link {
      padding-left: 30px;
      padding-right: 30px;

      &:hover {
        color: #000000;
        background-color: #ffffff;
      }

      &:active {
        color: rgba(0, 0, 0, 0.5);
      }

    }

  }

  .user-list {

    &__btn {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      background-position: 10px center;

      &:hover {
        color: #000000;
        background-color: #ffffff;
      }

      &:active {
        color: rgba(0, 0, 0, 0.5);
      }

    }

  }

}
