*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
}

body {
  margin: 0;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
}

button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button {
  width: 100%;
  padding: 13px 20px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: solid 1px #e5ddd5;
}

.page-container {
  overflow: hidden;
}

.container {
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 2px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: no-wrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

/* SLIDER */
@import "./chunks/slider/slider";

@import "./chunks/header/header";
@import "./chunks/stats/stats";
@import "./chunks/advantages/advantages";
@import "./chunks/news/news";
@import "./chunks/reviews/reviews";
@import "./chunks/footer/footer";


@media (min-width: 768px) {

  .container {
    width: 640px;
    margin: 0 auto;
    padding: 0;
  }

  .button {
    width: 160px;
  }

}

@media (min-width: 960px) {

  .container {
    width: 960px;
    margin: 0 auto;
  }

}