*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
}

body {
  margin: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}

button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

.button {
  width: 100%;
  padding: 13px 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  border: solid 1px #e5ddd5;
  transition: background-color 0.1s linear,
  border-color 0.1s linear,
  color 0.1s linear;
}

.button:hover {
  border-color: #d4cabe;
}

.button:active {
  color: #a89e94;
  background-color: #d5c9bd;
  border-color: #d4cabe;
}

.page-container {
  overflow: hidden;
}

.container {
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 2px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

.section-header {
  margin-bottom: 30px;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.triangle {
  position: absolute;
  left: 0;
  bottom: -36px;
  z-index: 5;
  width: 100%;
  height: 36px;
  background-color: #f8f5f2;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.input {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 50px;
  margin: 6px auto;
  padding: 15px;
  font-family: 'PT Sans Narrow';
  font-size: 18px;
  border: 1px solid #e5ddd5;
  outline: none
}

.input::placeholder {
  opacity: 1;
}

.main-link {
  display: none;
  text-transform: uppercase;
}

.slick-dots{
  display: flex;
  justify-content: center;

  button {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    font-size: 0;

    &::after {
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: solid 1px rgba(255, 255, 255, .6);
      transform: rotate(45deg);
      transition: background-color .1s;
      content: "";
    }

    &:hover::after {
      background-color: rgba(255, 255, 255, .3);
    }

    &.active::after {
      background-color: rgba(255, 255, 255, 1);
    }

    .slick-active::after {
      background-color: #ffffff;
    }

  }

}

.slick-active button::after {
  background-color: rgba(255, 255, 255, .6);;
}

/* INDEX  */
@import "./chunks/header";
@import "./chunks/stats";
@import "./chunks/advantages";
@import "./chunks/news";
@import "./chunks/reviews";
@import "./chunks/footer";

/* OUR WORKS */
@import "./chunks/portfolio";
@import "./chunks/price";

/* APPOINTMENT */
@import "./chunks/appointment.scss";



@media (min-width: 640px) {

  .container {
    width: 640px;
    margin: 0 auto;
    padding: 0;
  }

  .button {
    width: 160px;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  .section-title {
    font-size: 40px;
    text-align: left;
  }

  .triangle {
    bottom: -45px;
    height: 45px;
  }

  .main-link {
    display: block;
  }
}

@media (min-width: 960px) {

  .container {
    width: 960px;
    margin: 0 auto;
  }

  .section-header {
    margin-bottom: 40px
  }
}
